.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 64px;
  margin: 0 0 var(--spacer-3) 0;
}

.instructions {
  font-size: var(--font-large);
}
