.button {
  --button-height: var(--spacer-6);

  margin: var(--spacer-2) 0 0 0;

  width: 100%;
  padding: 0 var(--spacer);
  height: var(--button-height);
  border-radius: var(--spacer);
  background-color: rgba(var(--main-color), 1.0);
  line-height: var(--button-height);
  color: rgba(var(--white), 0.9);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;

  cursor: pointer;

  display: flex;
  justify-content: center;
}

.button[disabled] {
  pointer-events: none;
  background-color: rgba(var(--gray), 1.0);
}

.simple {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}
