:root {
  --main-color: 249, 109, 16;
  --secondary-color: 35, 181, 211;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --dark-blue: 9, 4, 70;
  --gray: 154, 158, 163;
  --green: 16, 185, 129;

  --font-small: 14px;
  --font-normal: 16px;
  --font-large: 20px;

  --spacer: 8px;
  --spacer-1: var(--spacer);
  --spacer-2: calc(var(--spacer) * 2);
  --spacer-3: calc(var(--spacer) * 3);
  --spacer-4: calc(var(--spacer) * 4);
  --spacer-5: calc(var(--spacer) * 5);
  --spacer-6: calc(var(--spacer) * 6);

  --background-color: var(--white);
  --font-color: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--black);
    --font-color: var(--white);
  }
}

/* html.dark-mode  (document.documentElement) */
:root.dark-mode {
  --background-color: var(--black);
  --font-color: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  font-size: 16px;
  background: rgba(var(--background-color), 1.0);
  color: rgba(var(--font-color), 1.0);
}

html,
body,
#__next {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  box-sizing: border-box;

  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  color: rgba(var(--black), 1.0);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
