.container {
  --data-font-size: var(--font-small);
  --data-line-height: var(--spacer-4);
  --cell-height: var(--spacer-6);

  margin: var(--spacer-4) 0 var(--spacer-2) 0;
}

.header {
  margin: var(--spacer-6) 0 var(--spacer-3) 0;
  font-weight: 300;
  font-size: var(--font-large);
}

.table {
  min-width: 320px;
  overflow-x: auto;
  border: 1px solid rgba(var(--font-color), 0.1);
}

.table table {
  border-collapse: collapse;
  width: 100%;
}

.table table td {
  font-size: var(--data-font-size);
  padding: var(--spacer-1);
  white-space: pre;
}

.table table tbody td {
  height: var(--cell-height);
  font-weight: 200;
  line-height: var(--spacer-4);
}

.table table thead td {
  font-weight: 300;
}

.table table td.tableIconColumn {
  width: var(--spacer-6);
  text-align: center;
}

.table table tr {
  border-bottom: 1px solid rgba(var(--font-color), 0.1);
}

.table table tbody tr:last-child {
  border-bottom: none;
}


.loading-td div {
  width: 80%;
  height: var(--data-font-size);
  background: rgba(var(--font-color), 0.15);
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
