.container {
  margin: var(--spacer-2) 0;
}

.header {
  margin: var(--spacer-3) 0 var(--spacer-1) 0;
  font-weight: 300;
  font-size: var(--font-large);
}

.table {
  min-width: 320px;
  overflow-x: auto;
  border: 1px solid rgba(var(--black), 0.1);
}

.table table {
  border-collapse: collapse;
  width: 100%;
}

.table table td {
  padding: var(--spacer-1);
  white-space: nowrap;
}

.table table td:first-child {
  width: var(--spacer-4);
}

.table table tr {
  border-bottom: 1px solid rgba(var(--black), 0.1);
}

.table table tbody tr:last-child {
  border-bottom: none;
}

.table table tbody td {
  font-size: var(--font-small);
  font-weight: 200;
  line-height: var(--spacer-3);
}

.table table thead td {
  font-weight: 300;
  font-size: var(--font-small);
}
